.summary-gifs
  ul
    padding 0 1rem

  .calculation__steps
    list-style-type: circle;

  .must__req
    list-style-type: circle

  figure
    font-family 'Atlas Grotesk Web'
    max-width $column-width
    margin 2rem auto
    margin-bottom 0px
    .giphyStats
      width 100%
      display flex
      flex-direction row
      flex-wrap wrap
      justify-content space-between

      .gif__group
        width 49%
        +mq('bp-4')
          width 19%
          margin-bottom 1rem

        .gif__textContainer
          height 4.5rem
          padding-top 0.25rem

          .gif__name-text
            font-weight 700
            margin 0 0 0.25rem 0
            padding 0
            line-height 1.2
            font-size 14px

          .gif__count-text
            color $gray-dark
            padding 0
            line-height 1
            margin 0 0 0.25rem 0
            font-size 14px

        .gif__gifContainer
          position relative

          .gif__rank-text
            position absolute
            background-color $primary
            height 1.5rem
            width 1.5rem

            set-type-size('x-small')
            text-align center
            color $white
            font-weight 700
            margin 0 0 0.25rem 0
            padding 0.35rem 0.25rem 0.25rem 0.25rem
            line-height 1

          .gif__gif
            img
              width 100%
              height 8rem
              object-fit cover
              +mq('bp-4')
                height 5rem
