.summary-gifs
  ul
    padding 0 1rem

  .calculation__steps
    list-style-type: circle;

  .must__req
    list-style-type: circle

  figure
    font-family $national
    max-width $column-width
    margin 2rem auto
    .gifs
      width 100%
      display flex
      flex-direction row
      flex-wrap wrap
      justify-content space-between

      .gif__group
        width 19%
        margin-bottom 2rem

        .gif__text
          height 5.5rem

          .gif__rank-text
            background-color $primary
            height 1.5rem
            width 1.5rem
            set-type-size('x-small')
            text-align center
            color $white
            font-weight 700
            margin 0 0 0.25rem 0
            padding 0.35rem 0.25rem 0.25rem 0.25rem
            line-height 1

          .gif__name-text
            font-weight 700
            margin 0
            padding 0
            line-height 1

          .gif__count-text
            color $gray-dark
            padding 0
            line-height 1
            margin 0 0 0.25rem 0
