section.reddit
	max-width 40rem
	margin 0 auto 3rem auto
	padding-top 1rem

.summary-reddit
	ul
		padding 0 1rem
	li
		list-style-type circle

#reddit-chart-title
	font-family 'Atlas Grotesk Web'
	font-size 24px
	font-weight bold
	max-width 40rem
	margin 2rem auto 0 auto


#reddit-chart-subtitle
	font-size 17px
	font-weight 300
	max-width 40rem
	margin 0 auto
	padding-bottom 7px

#reddit-text-cloud
	max-width 40rem
	margin 0 auto
	height auto
	margin .5rem 0rem 1rem
	position relative
	.reddit-artist-container
		&:first-of-type
			.reddit-artist-inner
				background #98c2ce
				border 3px solid black
			.reddit-artist-name
				color black
			.reddit-artist-count
				color black

.reddit-artist-container
	display inline-block
	position relative
	font-family 'Atlas Grotesk Web'

.reddit-artist-container p
	margin 0

.reddit-artist-inner
	display inline-block
	color white
	border 3px solid black
	background white

	margin-right 5px
	margin-bottom 5px
	font-weight bold
	border-radius 2px
	line-height .8

.reddit-artist-name
	display inline-block
	margin-right 5px
	margin-bottom 5px
	font-weight bold
	text-transform uppercase
	line-height 1
	color black

.reddit-artist-count
	font-weight 500
	max-width 80px
	color black
	display inline-block
	line-height 1
	padding-left 5px
